h1 {
    color: white; 
}
p {
    color: white;
}
body {
    font-family:monospace;
}


.container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 50px;
    margin: 50px;
}

.tile {
    width: 200px;
    height: 100px;
    position: relative;
    border-radius: 15px;
    transition: transform 0.3s ease;
    display: inline-block;
    overflow: hidden;
    font-size: 14px;
}

.tile img {
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.tile:hover img {
    transform: scale(1.05);
    filter: brightness(50%);
}

.tile:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    content: attr(data-title);
    color: white;
    text-align: center;
    white-space: nowrap;
    font-size: 14px;
    
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.tile:hover:after {
    opacity: 1;
}
